<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="questionDao" class="ru.otus.spring2018.lesson1.dao.impl.QuestionDAOSimple">
        <constructor-arg name="fileName" value="questions.csv"/>
    </bean>

    <bean id="testService" class="ru.otus.spring2018.lesson1.service.impl.QuestionServiceImpl">
        <constructor-arg name="questionDAO" ref="questionDao"/>
    </bean>
</beans>